.addPost {
  min-height: 100vh;
}
.addPost__header {
  text-align: center;
  padding: 10px;
}
.addPost__gallery {
  margin-top: 10vh;
}
.addPost__progressBar {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.addPost__logoutButton {
  margin-top: 20px;
}
