.body {
  min-height: 90vh;
  display: grid;
  place-content: center;
  background-color: #f0f0f0;

  /* margin-bottom: 15vh; */

  padding-top: 10vh;
  padding-bottom: 15vh;
}

.body__main {
  display: flex;
  justify-content: space-between;
}

.body__sermon {
  /* background-image: url("./images/imagebg.jpeg"); */
  background: gray;
  border-radius: 10px;
  height: 450px;
  /* max-width: 8px; */
  color: whitesmoke;
  display: grid;
  /* justify-content: space-around; */
  align-items: center;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
.body__image > img {
  border-radius: 20px;
  margin-left: 11px;
  width: 90%;
  height: 200px;
  padding-bottom: 10px;
}
.body__content {
}
.body__content > h2 {
  text-align: center;
  margin: 0;
  margin-top: -100px;
}
.body__content > p {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 10px;
}
.body__content > Button {
  margin-top: 40px;
  margin-left: 20px;
}

@media screen and (max-width: 500px) {
  .body__image > img {
    /* margin-left: 0; */
  }
  .body__main {
    display: grid;
  }
  .body__content {
    padding: 10px;
  }

  .body__content > h2 {
    padding-top: 20px;
  }
  .body__content p {
    margin-left: 0;
    margin-right: 0;
    text-align: justify;
  }
}
